#root {
  max-width: 1500px;
  /* height: 100%; */
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

iframe {
  border: 1px solid #9848e8;
  border-radius: 20px;
  max-width: 923px;
}

.menu-carousel {
  border: 1px solid #9848e8;
  width: 750px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}

.menu-carousel img {
  width: 750px;
  height: 500px;
}

@media (max-width: 800px) {
  .menu-carousel {
    width: 100%;
  }
}

@media (max-width: 750px) {
  iframe {
    height: 400px;
  }
}

@media (max-width: 550px) {
  iframe {
    height: 300px;
  }
}

@media (max-width: 440px) {
  iframe {
    height: 227px;
  }
}
