#root {
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

iframe {
  border: none;
  border-radius: 20px;
}

.menu-carousel {
  width: 750px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}

.menu-carousel img {
  width: 750px;
  height: 500px;
}
