#root {
  max-width: 1500px;
  /* height: 100%; */
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  scrollbar-width: var(10px); /* толщина полосы скроллбара */
  scrollbar-color: #888888 #4e4e4e4f; /* цвет полосы и фона */
}

/* Стилизация для браузеров, использующих вебкит-движок (Chrome, Safari) */
/* Отключение стандартного скроллбара */
body::-webkit-scrollbar {
  width: 10px; /* толщина полосы скроллбара */
}

/* Цвет полосы и фона */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #888888;
}

body::-webkit-scrollbar-track {
  background-color: #4e4e4e4f;
}

a {
  text-decoration: inherit;
}

iframe {
  border: 2px solid black;
  border-radius: 20px;
  max-width: 923px;
}

.menu-carousel {
  border: 1.5px solid #9848e8;
  width: 750px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.menu-carousel img {
  width: 750px;
  height: 500px;
}

@media (max-width: 800px) {
  .menu-carousel {
    width: 100%;
  }
}

@media (max-width: 750px) {
  iframe {
    height: 400px;
  }
}

@media (max-width: 550px) {
  iframe {
    height: 300px;
  }
}

@media (max-width: 440px) {
  iframe {
    height: 227px;
  }
}
